* {
    margin: 0;
    padding: 40;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: grey;
}

header {
    background-color: purple;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#intro {
    padding: 50px;
    text-align: center;
    background-color: blueviolet;
}

.cta {
    display: inline-block;
    padding: 10 20;
    background-color: violet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Services, About, Contact sections hidden initially */
.hidden {
    display: none;
}

/* Services Section */
#services {
    padding: 50px;
    background-color: purple;
    text-align: center;
}

.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: blueviolet;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 45%;
}

.service-item h3 {
    color: blueviolet;
}

.service-item p {
    color: lightblue;
}

/* About Section */
#about {
    padding: 50;
    background-color: pale gray;
    text-align: center;
}

/* Contact Section */
#contact {
    padding: 50;
    background-color: pale gray
    text-align: center;
}

#contact p {
    margin: 10px 0;
    color: #333;
}

footer 
{
<<<<<<< HEAD
    background-color: white;
    color: white;
    text-align: center;
=======
    background-color: wheat;
    color: black;
    text-align: corner;
>>>>>>> 7336f93 (added footer)
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
